[Unit]
Description=foodflick receiver
Documentation=https://github.com/SimonVuong/ffreceiver
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=pi
ExecStart=node home/pi/ffreceiver/dist/index.js
Restart=always

[Install]
WantedBy=multi-user.target